html,
body {
  height: 100vh;
  background-color: #131313;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(247, 239, 239);
    background-image: linear-gradient(to right, rgb(54, 17, 164) , rgb(198, 103, 14));
  }
}
